---
interface Header {
	date: string;
	content: string;
}

const { date, content } = Astro.props;
const formattedDate = new Date(date).toISOString().slice(0, 10);
---

<header class="relative min-h-[600px] overflow-y-hidden text-sand-light md:min-h-[1100px]">
	<h1
		class="relative z-10 flex flex-col py-8 pt-32 text-center font-display md:pt-64 [&_p]:text-7xl md:[&_p]:text-8xl"
	>
		<span class="mb-4 block text-2xl md:mb-12 md:text-3xl">
			{formattedDate}
		</span>
		<Fragment set:html={content} />
	</h1>

	<picture class="absolute inset-x-0 inset-y-0">
		<img src="header2.jpg" alt="" class="max-w-100 h-full w-full object-cover" />
	</picture>
</header>
