<header
	class="text-sand-light relative overflow-y-hidden min-h-[600px] md:min-h-[1100px]"
>
	<h1 class="relative z-10 py-8 text-center font-display pt-32 md:pt-64">
		<span class="mb-4 md:mb-12 block text-2xl md:text-3xl">2025-07-30</span>
		<span class="block text-7xl md:text-8xl">Karl-Henrik</span>
		<span class="block text-7xl md:text-8xl">&</span>
		<span class="block text-7xl md:text-8xl">Louise</span>
	</h1>

	<picture class="absolute inset-x-0 inset-y-0">
		<img src="header.jpg" alt="" class="max-w-100 w-full h-full object-cover" />
	</picture>
</header>
