---
import '@fontsource/grand-hotel';
import '@fontsource-variable/inter';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body class="font-body antialiased text-stone-900 bg-moss">
		<slot />
	</body>
</html>
